body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: black;
  overflow: hidden; /* Prevent body scrollbars */
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100vh - 100px); /* Adjust based on controls height */
}

.video-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #222;
}

#camera-feed,
#recorded-video {
  width: 45%;
  border: 1px solid #444;
}

.controls {
  padding: 10px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  height: 100px;
}

.control-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.controls label {
  margin-left: 10px;
}

#textInput {
  display: block;
  width: 80%;
  margin: 20px auto;
  font-size: 16px;
  padding: 10px;
  min-height: 50px;
  background-color: white;
  color: black;
}

#teleprompter {
  background-color: black;
  color: white;
  overflow-y: scroll;
  font-size: 48px;
  line-height: 1.5;
  padding: 20px;
  text-align: center;
  flex-grow: 1;
}

#textDisplay {
  width: 80%;
  margin: 0 auto;
  white-space: pre-wrap;
}

.hidden {
  display: none !important;
}

@media (orientation: landscape) and (max-width: 900px) {
  .main-container {
    flex-direction: row;
    height: calc(100vh - 50px);
  }

  .video-container {
    width: 50%;
    height: 100%;
    flex-direction: column;
  }

  #camera-feed,
  #recorded-video {
    width: 100%;
    height: 50%;
  }

  #teleprompter {
    width: 50%;
    height: 100%;
    padding-top: 50px; /* Added padding to fix text visibility */
  }

  .controls {
    height: 50px;
  }

  #textInput {
    position: absolute;
    width: 50%;
    left: 50%;
    bottom: 50px;
    z-index: 2;
  }
}
